<!DOCTYPE html>
<html>
  <body>
    <p>Hi <strong>{{username}}</strong>.</p>
    <p>You have reset your password.</p>
    <p>If it's not you, change your password urgently.</p>
    <p>Your new password: <strong>{{new_password}}</strong></p>
  </body>
</html>