:root {
    --blue-500: #4299e1;
    --focus-ring-color: var(--blue-500);
    --red: #f56565;
  }
  
  body {
    margin-left: 500px;
    margin-right: auto;
    justify-content: center;
    background-color: darkgray;
  }

  label {
    font-weight: bold;
    display: flex;
    font-size: larger;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"] {
    padding: 5px;
    border-radius: 10px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 320px;
  }

  input[type="number"] {
    text-align: center;
    width: 50px;
  }

  select {
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
  }

  input[type="radio"] {
    border-radius: 50%;
    border: 2px solid var(--gray-300);
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    align-self: center;
    justify-content: center;
    position: relative;
  }

  .sex_text {
    font-weight: bold;
  }

  input:focus,
  select:focus {
    outline: none;
    border: 2px solid var(--focus-ring-color);
  }

  .error {
    color: var(--red);
    font-weight: bold;
  }

  form {
    margin-top: 50px;
  }

  button[type="submit"] {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin-left: 70px;
    font-size: large;
    font-weight: bold;
  }

  button[type="submit"]:focus {
    outline: none;
    border: 2px solid var(--focus-ring-color);
  }